html{-webkit-text-size-adjust:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit}
del,ins{text-decoration:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup,sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
textarea{resize:vertical}
input,select{vertical-align:middle}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;margin:0}
cite,em{font-style:normal}
.clear{clear:both;height:0;margin:0;padding:0;font-size:15px;line-height:1px}
.clearfix:after,.content:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
:focus{outline:0}
a{color:#585858;bblr:expression_r(this.onFocus=this.blur());outline:none;}
a:link,a:visited{color:#585858;text-decoration:none}
body{font-family: tahoma,Helvitica,Verdana,arial,Microsoft Yahei,sans-serif}
img{border:0;vertical-align:middle}
fieldset{border:0}
input[type=radio]{padding:.3em}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
audio,canvas,progress,video {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}
.fl{float:left;}
.fr{float:right;}
.flex{display:block;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flex;}
.flex-list{flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#4a4b4f;}

html{font-size:100px;font-size:calc(1000vw/32);}
@media all and (max-width:320px){
	html{font-size:100px;}
}
@media all and (min-width:640px){
	html{font-size:200px;}
}
body{max-width:640px;margin:0 auto;font-family:PingFangSC-Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #f7f7f7}
@font-face {font-family: "iconfont";
src: url('../fonts/iconfont.eot'); /* IE9*/
src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
font-family:"iconfont" !important;
font-size:1em;
font-style:normal;
-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: .2px;
-moz-osx-font-smoothing: grayscale;
}

.jg-header{position:fixed;width:100%;max-width:640px;top:0;overflow:hidden;background-color:#ff8d53;height:0.4rem;z-index:9;}
.logo{position:absolute;top:0.045rem;left:0.13rem;}
.logo img{display:block;width:auto;max-width:auto;max-height:0.31rem;}
.user-search{padding:0.075rem 0 0;}
.user-search span{margin-right:.07rem;color:#f9f9f9;cursor:pointer}
span.recNum{color:#333;font-size:.09rem;margin-top:.06rem;width:1rem;}
span.search{font-size:0.16rem;}
span.user{font-size:.15rem}
span.followBtn{display:inline-block;width:0.385rem;height:0.165rem;line-height:.165rem;background:#f9f9f9;color:#ff8d53;text-align:center;font-size:.1rem;margin-top:0.05rem;border-radius:0.05rem}
.down,
.follow{font-size:.09rem;margin-top:.05rem;color:#2472ca;}
.down .iconfont,
.follow .iconfont{display:inline-block;vertical-align:middle;font-size:.1rem;}
.jgBanner{border-top:2px solid #fff;}
.jgBanner img{display:block;max-width:640px;width:100%;height:auto;}
.new-hot{display:flex;margin:.06rem .5rem;font-size:.12rem;background:#fff;border-radius:0.145rem;box-shadow:1px 1px 5px rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.2)}
.four_hot{margin:.1rem .15rem}
.new-hot span{display:block;flex:1;padding:.05rem 0;text-align:center;background:#fff;color:#ff8e54;}
.new-hot span:first-child{border-radius:0.145rem 0 0 0.145rem;}
.new-hot span:last-child{border-radius:0 0.145rem 0.145rem 0;}
.new-hot span.cur{background:#ff8e54;color:#fff;}
.pdt10.game-con{margin-top:0;padding:.09rem 0 0;}
.game-con{position:relative;margin-top:.07rem;background-color:#fff;}
.gameSwiper{position:relative;}
.reset-pagination{position:absolute;right:.05rem;top:0;bottom:auto;width:auto;text-align:right;}
.reset-pagination span{margin:0 .01rem}
.game-list{display:flex;flex-wrap:wrap;flex-direction: row;display:-webkit-flex;display:-moz-flex;text-align:center;font-size:.1rem;overflow:hidden;}
.game-list .swiper-slide{float:left;width:25%;margin-bottom:.075rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.game-list .swiper-slide p{padding-top:.03rem;}
.game-list .swiper-slide img{width:.54rem;height:auto;}

.game-con{position:relative;margin-top:.07rem;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;background-color:#fff;}
// .fixed_header{position:fixed;bottom:0;max-width:640px;width:100%;z-index:999;}
.navList{position:relative;display:block;display:flex;background:#fff;background:rgba(255,255,255,0.9);border-top:1px solid #b2b2b2;}
.navList i.iconfont{display:block;height:.25rem;line-height:.25rem;font-size:.18rem;}
.navList .link_a{color:#f60;display:block;flex:1;text-align:center;padding:0.03rem 0 0.05rem;font-size:0.1rem;text-align:center;color:#4d4d4d;}
.navList .link_a.router-link-exact-active{color:#f60;}

.getMoney{color:#585858;padding-top:.1rem;}
.t_a{text-align:center;padding-bottom:.1rem;font-size:.12rem}
.mexTxt{height:.35rem;margin-bottom:.1rem;overflow:hidden;}
.mexTxt li{font-size:.1rem;line-height:.17rem;}
.mexTxt li:after{content:'';display:block;clear:both;visibility:hidden;height:0;}
.mexTxt p{float:left;padding:0 .2rem;width:50%;}

.game-list{display:flex;flex-wrap:wrap;flex-direction: row;display:-webkit-flex;display:-moz-flex;text-align:center;font-size:.1rem;overflow:hidden;}
.game-list a{float:left;width:25%;margin-bottom:.075rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.game-list a p{padding-top:.03rem;}

.gameList{}
.gameList{padding:0 .1rem;background:#fff;}
.gameList li{border-bottom:1px solid #e2e2e2;}
.list-all{display:block;display:flex;padding:.1rem 0;overflow:hidden;}
.list-all img{float:left;width:.56rem;height:.56rem;}
.list-js{float:left;flex:1;margin:0 .09rem;overflow:hidden;white-space:nowrap;}
.list-js strong{display:block;font-size:.13rem;color:#333;line-height:.21rem;}
.label{display:inline-block;margin:0 .015rem;padding:0 .5em;font-size:.1rem;font-weight:normal;vertical-align:middle;line-height:normal;border-radius:.25em;text-align:center;}
.label.red{border:1px solid #f7a0a5;color:#f7a0a5;}
.label.blue{border:1px solid #9cd3ea;color:#9cd3ea;}
.label.yellow{border:1px solid #fed207;color:#fed207;}
.label.green{border:1px solid #1dd194;color:#1dd194;}
.label.violet{border:1px solid #ff7ade;color:#ff7ade;}
.label.dBlue{border:1px solid #9188e8;color:#9188e8;}
.list-js .allPlay{float:none;display:block;margin:0;font-size:.1rem;line-height:.18rem;text-align:left;}
.list-js .allPlay i.iconfont{font-size:.14rem;}
.oR{color:#ff5d3d !important}
.list-js .txt{display:block;font-size:.11rem;color:#7f7f7f;}
.list-all .play{float:right;width:.66rem;height:.295rem;line-height:.295rem;display:block;background:#429bf5;color:#fff;text-align:center;font-size:.14rem;border-radius:.03rem;margin-top:.15rem;}
.play.orange{background:#f48417;color:#fff;}
.ui_t{width:100%;border:1px solid #e3e3e3;padding:.04rem;font-size:.09rem;color:#999;}
.moreShow{background:#fff;font-size:.12rem;color:#585858;text-align:center;}
.moreShow span{display:block;color:#585858;padding:.05rem 0 .1rem;cursor:pointer;}
.quSearch{margin:0 .15rem;padding:.075rem 0 0;}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* 弹窗关注 */
.popBg{position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,.3);z-index:10000;}
.popFollow{position:fixed;width:1.97rem;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);z-index:10001;}
.popFH{height:.39rem;background:#429bf5;padding-top:.04rem;border-radius:.05rem .05rem 0 0;}
.logoImg img{width:.84rem;height:.235rem;}
.logoImg{width:.98rem;height:.31rem;margin:0 auto;background:#fff;padding-top:.03rem;border-radius:.05rem;text-align:center;}
.popFM{padding:.1rem 0;text-align:center;background:#f7f7f7;border-radius:0 0 .05rem .05rem;font-size:.12rem;}
.popFM p{margin:0 0 .05rem;text-align:center;}
.popFM img{width:1.29rem;height:1.29rem;box-shadow:0 0 .05rem rgba(0,0,0,.2)}
.popFM strong{color:#000;}
.popFM small{color:#666;}

.fixed_header{height:.525rem;}
.fixedNav{position:fixed;bottom:0;max-width:640px;width:100%;box-sizing: border-box;z-index:999;}
.header {
	height: 0.4rem;
}
.header_inner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	max-width: 640px;
	height: 0.4rem;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 0.24rem;
	border-bottom: 0.02rem solid #80ccd6;
	background-color: #fff;
}
.header_cont {
	text-align: center;
	padding: 0 0.4rem;
	line-height: 0.4rem;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.detail p{line-height:.3rem;}